<div class="ui middle aligned center aligned grid">
  <div class="column left aligned">
    <h1 class="ui orange header">
        Easy ML
    </h1>
  
    <form class="ui form segment orange">

      <div class="field">
        <label>Username</label>
        <input type="text" name="username" placeholder="Username">
      </div>

      <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password">
      </div>
   
      <button class="ui orange button" type="submit">Sign In</button>
    </form>

    <div class="ui message">
        <p>During the development, registration isn't available</p>
      </div>

  </div>
</div>
